@charset "UTF-8";

.page-title {
	border-bottom: 3px solid #000;
}
th {
    background: #4682b4;
}
h1{
	text-align:center;
}
table{
	margin: 0 auto;
}
.submit{
	margin: 0 auto;
	text-align:center;
}